.App {
  text-align: center;
}
body{
  min-height: 100%;
}
ul{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

li{
  margin:15px;
}

.header{
display: flex;
flex-direction: row;
justify-content: space-between;
background-color: beige;
height: 15vh;
}

.footer{
  position: relative;
  bottom: 0;
  justify-content: ;
  background-color: tomato;
  height: 10vh;
  }